/* Common Styles */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border: none;
  border-radius: 6px;
  background-color: #ff900e;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.text-primary {
  color: #131313;
  font-weight: 700;
}
.text-secondary {
  color: #ff900e;
  font-weight: 700;
}

/* Header Styles */
header {
  background: #ff900e1a;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 225px 0px 225px;
}
header h2 {
  font-weight: 700;
  font-size: 35px;
  color: #131313;
}
header a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #424242;
  margin-left: 20px;
}

/* Banner styles */
.banner {
  text-align: center;
  margin: 0 240px;
}
.banner h1 {
  margin-top: 100px;
  font-weight: 700;
  font-size: 54px;
  color: #131313;
}
.banner p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  color: #727272;
}
.banner img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 45px;
}

/* Quick List styles */
.quick-list {
  margin: 85px 250px 130px 250px;
}
.quick-list-container {
  display: flex;
  gap: 20px;
}
.quick-views {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.quick-views img {
  width: 100%;
  border-radius: 8px;
}
.quick-text {
  margin-top: 15%;
}
.quick-text h1 {
  font-weight: 500;
  font-size: 35px;
  color: #727272;
}
.quick-text p {
  font-size: 14px;
  color: #727272;
  margin-top: 20px;
}
.quick-text button {
  margin-top: 30px;
}
