/* Common Styles */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border: none;
  border-radius: 6px;
  background-color: #ff900e;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.text-primary {
  color: #131313;
  font-weight: 700;
}
.text-secondary {
  color: #ff900e;
  font-weight: 700;
}

/* Header Styles */
header {
  background: #ff900e1a;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 225px 0px 225px;
}
header h2 {
  font-weight: 700;
  font-size: 35px;
  color: #131313;
}
header a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #424242;
  margin-left: 20px;
}

/* Banner styles */
.banner {
  text-align: center;
  margin: 0 240px;
}
.banner h1 {
  margin-top: 100px;
  font-weight: 700;
  font-size: 54px;
  color: #131313;
}
.banner p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  color: #727272;
}
.banner img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 45px;
}

/* Quick List styles */
.quick-list {
  margin: 85px 250px 100px 250px;
}
.quick-list-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.quick-views {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.quick-views img {
  width: 100%;
  border-radius: 8px;
}
.quick-text {
  margin-top: 15%;
}
.quick-text h1 {
  font-weight: 500;
  font-size: 35px;
  color: #727272;
}
.quick-text p {
  font-size: 14px;
  color: #727272;
  margin-top: 20px;
}
.quick-text button {
  margin-top: 30px;
}

/* Features styles */
.features {
  margin: 0 200px;
  position: relative;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.feature-title h1 {
  font-weight: 700;
  font-size: 35px;
  color: #131313;
  border-left: 5px solid #ff900e;
  padding-left: 15px;
  margin-bottom: 15px;
}
.feature-title p {
  font-size: 14px;
  color: #727272;
}
.feature-list {
  margin: 50px 0 0 30px;
}
.feature {
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.feature h3 {
  font-weight: 600;
  font-size: 16px;
  color: #131313;
}
.feature p {
  font-size: 14px;
  color: #727272;
}
.feature-container img {
  width: 100%;
  border-radius: 8px;
}
.experience-tag {
  border: none;
  border-radius: 8px;
  background-color: #ff900e;
  padding: 20px 35px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: calc(50% - 50px);
  bottom: -40px;
}
.experience-tag h1 {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 25px;
}
.experience-tag p {
  font-weight: 700;
  font-size: 12px;
}

/* Facts Styles */
.some-facts {
  margin: 130px 200px 0 200px;
}
.facts-title {
  font-weight: 700;
  font-size: 35px;
  color: #131313;
  margin-bottom: 20px;
}
.some-facts p {
  font-weight: 500;
  font-size: 14px;
  color: #424242;
  margin-bottom: 50px;
}
.facts-container {
  display: flex;
  justify-content: space-around;
}
.fact {
  width: 150px;
  padding: 20px;
  text-align: center;
  /* line-height: 40px; */
  font-weight: 600;
  border: 1px solid #ff900e;
  border-radius: 8px;
}
.fact h1 {
  font-size: 30px;
  color: #424242;
  margin-top: 10px;
}
.fact h3 {
  font-size: 14px;
  color: #727272;
  margin-top: 10px;
}
